/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






.fundocinza {

    height: 100vh;
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    padding-top: 2.5%;


}

.fundoroxo {

    height: 90vh;
    margin-left: 2.5%;
    width: 95%;
    background: rgba(54, 0, 79, 1);
    display: flex;
    flex-direction: column;
    border-radius: 20px;

}

.h1 { 

    font-family: "Inter", sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    text-align: center;
    color: white;
    padding-top: 40px;


}

.quadroforms {


    background-color: rgba(54, 0, 79, 1);
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: column;

}

.textos { 

    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 87.14px;
    color: white;
    padding-left: 5%;

}

.textoflex { 

    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 87.14px;
    color: white;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    gap: 38vh;
}



#input1 {


    margin-left: 5%;
    width: 90%;
    height: 6vh;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align:left;
    border: none;
    font-size: 20px;

}

.diretor{

    display: flex;
    flex-direction: row;
}

.flexdiv2{

    display: flex;
    flex-direction: row;

}


#input2 {

    margin-left: 5%;
    width: 41%;
    height: 6vh;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align:left;
    border: none;
    font-size: 20px;

}

#input3 {

    margin-left: 2.5%;
    width: 46.3%;
    height: 6vh;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align:left;
    border: none;
    font-size: 20px;
    

}

#input4 {

    margin-left: 5%;
    width: 90%; 
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align:left;
    border: none;
    font-size: 20px;
    padding-bottom: 15vh;
    padding-top: 1vh;

}

#enviar {

    width: 25%;
    height: 12vh;
    margin-left: 35%;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}

.retangulo_cinza {


    height: 50vh;
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    
 
}


.retangulo_preto {

    height: 40vh;
    width: 95%;
    margin-left: 2.5%;
    padding-top: 5vh ;
    background-color: rgb(0, 0, 0);

}


.retangulo_branco {

    height: 35vh;
    width: 95%;
    margin-left: 2.5%;
    background-color: rgb(255, 255, 255);


    h1 {

        font-family: "Inter", sans-serif;
        font-size: 2vh;
        margin-top: 2vh;
        font-weight: bolder;
        color: rgb(0, 0, 0);
        padding-left: 5%;
   

    }

    h3 {

        font-family: "Inter", sans-serif;
        font-size: 2vh;
        margin-top: 2.5vh;
        font-weight: bolder;
        color: rgb(0, 0, 0);
        padding-left: 5%;


    }

    p{

        font-family: "Inter", sans-serif;
        font-size: 3vh;
        margin-top: 3vh;
        font-weight: 400;
        color:  rgb(0, 0, 0);
        padding-left: 5%;
    

    }

    img {

        margin-left: 3%;
        height: 18vh;
        width: 18vh;
        margin-top: 2vh;
        background-color: rgba(217, 217, 217, 1);


    }

}

